body{
    background-color: var(--color-background);
    font-family: var(--font-base);
    font-size: var(--text-base);
    line-height: var(--line-height-base);
    color: var(--color-text);
}

h1{
    font-family: var(--font-heading);
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-heading);
    color: var(--color-text-light);
}

h2, h3, h4{
    font-family: var(--font-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    color: var(--color-text);
}

h2 {
    font-size: var(--text-3xl);
}

h3 {
    font-size: var(--text-2xl);
}
h4 {
    font-size: var(--text-xl);
}

p {
    font-size: var(--text-base);
    margin-bottom: var(--spacing-md);
}