@charset "utf-8";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
body{
    height: 100vh;
    height: 100dvh;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

img,
svg{
    display: block;
    max-width: 100%;
    height: auto;
}

ul, 
ol,
summary{
    list-style: none;
}

p{
    overflow-wrap: break-word;
}
